* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: iransans;
}
html {
    scroll-behavior: smooth;
}
.main {
    background-color: rgba(176, 196, 222, 0.527);
}
.textbio {
    padding: 30px;
    line-height: 60px;
}
.bio {
    direction: rtl;
    border: 2px solid gray;
    padding: 20px;
}
.bio span {
    display: inline-block;
    background-color: lightseagreen;
    padding: 10px;
    margin:10px 20px;
    border-radius: 10px;

}
.bio span a {
    color: white;
    text-decoration: none;
}